In [1]:
# import libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
data = pd.read_csv(r"C:\Users\senay\Desktop\Misra Turp\NYC_Jobs.csv")
data.head()

,Job ID,Civil Service Title,Agency,Posting Type,Job Category,Salary Range From,Salary Range To
0,424339,PUBLIC HEALTH NURSE,DEPT OF HEALTH/MENTAL HYGIENE,External,Health,84252.0,84252.0
1,379094,CERT IT DEVELOPER (APP),NYC EMPLOYEES RETIREMENT SYS,External,NaN,82884.0,116391.0
2,520417,EXECUTIVE AGENCY COUNSEL,NYC HOUSING AUTHORITY,External,Legal Affairs,105000.0,125000.0
3,233549,CERTIFIED IT ADMINISTRATOR (LA,NYC EMPLOYEES RETIREMENT SYS,External,Information Technology & Telecommunications,87203.0,131623.0
4,510256,ASSOCIATE HUMAN RIGHTS SPECIAL,HUMAN RIGHTS COMMISSION,External,Constituent Services & Community Programs,58449.0,67216.0

In [4]:
data.columns

Index(['Job ID', 'Civil Service Title', 'Agency', 'Posting Type',
       'Job Category', 'Salary Range From', 'Salary Range To'],
      dtype='object')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3773 entries, 0 to 3772
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Job ID               3773 non-null   int64
 1   Civil Service Title  3773 non-null   object
 2   Agency               3773 non-null   object
 3   Posting Type         3773 non-null   object
 4   Job Category         3770 non-null   object
 5   Salary Range From    3773 non-null   float64
 6   Salary Range To      3773 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 206.5+ KB

In [6]:
data.describe()

              Job ID  Salary Range From  Salary Range To
count    3773.000000        3773.000000      3773.000000
mean   500493.408693       57657.939466     79660.249595
std     48518.942211       36629.729583     51101.248638
min     87990.000000           0.000000        15.000000
25%    496634.000000       40017.000000     54228.000000
50%    518535.000000       58700.000000     80000.000000
75%    524405.000000       75000.000000    109409.000000
max    528532.000000      250000.000000    265000.000000

In [7]:
data.shape

(3773, 7)

# apply

In [8]:
def captitalize(title): 
    title_lower = title.lower()
    title_final = title_lower.capitalize()
    return title_final

In [9]:
data['Civil Service Title'].apply(captitalize)

0                  Public health nurse
1              Cert it developer (app)
2             Executive agency counsel
3       Certified it administrator (la
4       Associate human rights special
                     ...
3768    Certified it administrator (la
3769     Associate housing development
3770               Senior it architect
3771                         Economist
3772           Agency attorney interne
Name: Civil Service Title, Length: 3773, dtype: object

In [10]:
data['Civil Service Title'].apply(lambda x: x.lower().capitalize())

0                  Public health nurse
1              Cert it developer (app)
2             Executive agency counsel
3       Certified it administrator (la
4       Associate human rights special
                     ...
3768    Certified it administrator (la
3769     Associate housing development
3770               Senior it architect
3771                         Economist
3772           Agency attorney interne
Name: Civil Service Title, Length: 3773, dtype: object

In [11]:
data.apply(lambda x: x['Civil Service Title'].lower().capitalize(), axis=1)

0                  Public health nurse
1              Cert it developer (app)
2             Executive agency counsel
3       Certified it administrator (la
4       Associate human rights special
                     ...
3768    Certified it administrator (la
3769     Associate housing development
3770               Senior it architect
3771                         Economist
3772           Agency attorney interne
Length: 3773, dtype: object

# map

In [12]:
#add 2022 to every column 
def add_year(text): 
    return str(text) + '_2022'

data.applymap(add_year)

,Job ID,Civil Service Title,Agency,Posting Type,Job Category,Salary Range From,Salary Range To
0,424339_2022,PUBLIC HEALTH NURSE_2022,DEPT OF HEALTH/MENTAL HYGIENE_2022,External_2022,Health_2022,84252.0_2022,84252.0_2022
1,379094_2022,CERT IT DEVELOPER (APP)_2022,NYC EMPLOYEES RETIREMENT SYS_2022,External_2022,nan_2022,82884.0_2022,116391.0_2022
2,520417_2022,EXECUTIVE AGENCY COUNSEL_2022,NYC HOUSING AUTHORITY_2022,External_2022,Legal Affairs_2022,105000.0_2022,125000.0_2022
3,233549_2022,CERTIFIED IT ADMINISTRATOR (LA_2022,NYC EMPLOYEES RETIREMENT SYS_2022,External_2022,Information Technology & Telecommunications_2022,87203.0_2022,131623.0_2022
4,510256_2022,ASSOCIATE HUMAN RIGHTS SPECIAL_2022,HUMAN RIGHTS COMMISSION_2022,External_2022,Constituent Services & Community Programs_2022,58449.0_2022,67216.0_2022
...,...,...,...,...,...,...,...
3768,457839_2022,CERTIFIED IT ADMINISTRATOR (LA_2022,NYC EMPLOYEES RETIREMENT SYS_2022,Internal_2022,"Technology, Data & Innovation_2022",85371.0_2022,119883.0_2022
3769,527141_2022,ASSOCIATE HOUSING DEVELOPMENT_2022,HOUSING PRESERVATION & DVLPMNT_2022,Internal_2022,"Engineering, Architecture, & Planning_2022",74650.0_2022,85847.0_2022
3770,509443_2022,SENIOR IT ARCHITECT_2022,FINANCIAL INFO SVCS AGENCY_2022,Internal_2022,"Technology, Data & Innovation_2022",100000.0_2022,115000.0_2022
3771,352367_2022,ECONOMIST_2022,DEPT OF HEALTH/MENTAL HYGIENE_2022,Internal_2022,"Finance, Accounting, & Procurement_2022",42288.0_2022,59400.0_2022
3772,478739_2022,AGENCY ATTORNEY INTERNE_2022,HUMAN RIGHTS COMMISSION_2022,External_2022,Legal Affairs_2022,62397.0_2022,71757.0_2022

In [13]:
s = pd.Series(['cat', 'dog','NaN','rabbit'])
s

0       cat
1       dog
2       NaN
3    rabbit
dtype: object

In [14]:
s.map({'cat':'kitten', 'dog':'puppy'})

0    kitten
1     puppy
2       NaN
3       NaN
dtype: object

In [15]:
#create a function to change word from DEPT to kitten and use with map

In [16]:
def change_word(title): 
    return title.replace('DEPT', 'kitten')

In [17]:
data['Agency'].map(change_word)

0       kitten OF HEALTH/MENTAL HYGIENE
1          NYC EMPLOYEES RETIREMENT SYS
2                 NYC HOUSING AUTHORITY
3          NYC EMPLOYEES RETIREMENT SYS
4               HUMAN RIGHTS COMMISSION
                     ...
3768       NYC EMPLOYEES RETIREMENT SYS
3769     HOUSING PRESERVATION & DVLPMNT
3770         FINANCIAL INFO SVCS AGENCY
3771    kitten OF HEALTH/MENTAL HYGIENE
3772            HUMAN RIGHTS COMMISSION
Name: Agency, Length: 3773, dtype: object

In [18]:
data['Agency'].map('This position is offered by {}'.format)

0       This position is offered by DEPT OF HEALTH/MEN...
1       This position is offered by NYC EMPLOYEES RETI...
2       This position is offered by NYC HOUSING AUTHORITY
3       This position is offered by NYC EMPLOYEES RETI...
4       This position is offered by HUMAN RIGHTS COMMI...
                              ...
3768    This position is offered by NYC EMPLOYEES RETI...
3769    This position is offered by HOUSING PRESERVATI...
3770    This position is offered by FINANCIAL INFO SVC...
3771    This position is offered by DEPT OF HEALTH/MEN...
3772    This position is offered by HUMAN RIGHTS COMMI...
Name: Agency, Length: 3773, dtype: object

In [20]:
#s.map(function,na_action='ignore' )

In [23]:
s

0       cat
1       dog
2       NaN
3    rabbit
dtype: object

In [24]:
def change_cat(title): 
    return title.replace('cat', 'lion')

In [25]:
s.map(change_cat, na_action='ignore')

0      lion
1       dog
2       NaN
3    rabbit
dtype: object

In [26]:
data.head()

,Job ID,Civil Service Title,Agency,Posting Type,Job Category,Salary Range From,Salary Range To
0,424339,PUBLIC HEALTH NURSE,DEPT OF HEALTH/MENTAL HYGIENE,External,Health,84252.0,84252.0
1,379094,CERT IT DEVELOPER (APP),NYC EMPLOYEES RETIREMENT SYS,External,NaN,82884.0,116391.0
2,520417,EXECUTIVE AGENCY COUNSEL,NYC HOUSING AUTHORITY,External,Legal Affairs,105000.0,125000.0
3,233549,CERTIFIED IT ADMINISTRATOR (LA,NYC EMPLOYEES RETIREMENT SYS,External,Information Technology & Telecommunications,87203.0,131623.0
4,510256,ASSOCIATE HUMAN RIGHTS SPECIAL,HUMAN RIGHTS COMMISSION,External,Constituent Services & Community Programs,58449.0,67216.0

In [32]:
data['Job Category'].map({'Health':'Hospital', 'Legal Affairs': 'Law'}, na_action='ignore')

0       Hospital
1            NaN
2            Law
3            NaN
4            NaN
          ...
3768         NaN
3769         NaN
3770         NaN
3771         NaN
3772         Law
Name: Job Category, Length: 3773, dtype: object

In [ ]:
data['Job Category'].map({'Health':'Hospital', 'Legal Affairs': 'Law'}, na_action='ignore')