In [4]:
import pandas as pd
import numpy as np

In [5]:
taxi_trips = pd.read_csv('2019_Yellow_Taxi_Trip_Data.csv')
taxi_trips.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,01/01/2019 12:00:00 AM,01/01/2019 01:03:12 AM,2,7.37,1,N,237,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,NaN
1,2,01/01/2019 12:00:01 AM,01/01/2019 12:05:17 AM,6,1.73,1,N,263,74,2,7.0,0.5,0.5,0.00,0.0,0.3,8.30,NaN
2,1,01/01/2019 12:00:03 AM,01/01/2019 12:04:26 AM,1,0.60,1,N,80,112,2,5.0,0.5,0.5,0.00,0.0,0.3,6.30,NaN
3,4,01/01/2019 12:00:05 AM,01/01/2019 12:11:05 AM,1,1.53,1,N,231,148,2,9.0,0.5,0.5,0.00,0.0,0.3,10.30,NaN
4,1,01/01/2019 12:00:06 AM,01/01/2019 12:44:05 AM,1,3.20,1,N,114,79,1,26.0,0.5,0.5,5.45,0.0,0.3,32.75,NaN

In [6]:
taxi_trips.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [7]:
taxi_trips = taxi_trips[['tpep_pickup_datetime',
       'passenger_count', 'trip_distance',
       'PULocationID', 'payment_type', 
       'total_amount']]

taxi_trips.head()

,tpep_pickup_datetime,passenger_count,trip_distance,PULocationID,payment_type,total_amount
0,01/01/2019 12:00:00 AM,2,7.37,237,2,24.80
1,01/01/2019 12:00:01 AM,6,1.73,263,2,8.30
2,01/01/2019 12:00:03 AM,1,0.60,80,2,6.30
3,01/01/2019 12:00:05 AM,1,1.53,231,2,10.30
4,01/01/2019 12:00:06 AM,1,3.20,114,1,32.75

In [8]:
taxi_trips.isnull().sum()

tpep_pickup_datetime    0
passenger_count         0
trip_distance           0
PULocationID            0
payment_type            0
total_amount            0
dtype: int64

In [9]:
taxi_trips.isna().sum()

tpep_pickup_datetime    0
passenger_count         0
trip_distance           0
PULocationID            0
payment_type            0
total_amount            0
dtype: int64

In [10]:
taxi_trips.dtypes

tpep_pickup_datetime     object
passenger_count           int64
trip_distance           float64
PULocationID              int64
payment_type              int64
total_amount            float64
dtype: object

In [11]:
taxi_trips['payment_type'].value_counts

<bound method IndexOpsMixin.value_counts of 0          2
1          2
2          2
3          2
4          1
          ..
7664910    1
7664911    1
7664912    1
7664913    1
7664914    1
Name: payment_type, Length: 7664915, dtype: int64>

In [12]:
taxi_trips

,tpep_pickup_datetime,passenger_count,trip_distance,PULocationID,payment_type,total_amount
0,01/01/2019 12:00:00 AM,2,7.37,237,2,24.80
1,01/01/2019 12:00:01 AM,6,1.73,263,2,8.30
2,01/01/2019 12:00:03 AM,1,0.60,80,2,6.30
3,01/01/2019 12:00:05 AM,1,1.53,231,2,10.30
4,01/01/2019 12:00:06 AM,1,3.20,114,1,32.75
...,...,...,...,...,...,...
7664910,01/31/2019 11:44:59 PM,2,1.05,170,1,10.56
7664911,01/31/2019 11:45:00 PM,1,2.80,231,1,16.55
7664912,01/31/2019 11:45:00 PM,1,0.70,161,1,8.15
7664913,01/31/2019 11:45:00 PM,1,1.00,48,1,8.03
7664914,01/31/2019 11:45:00 PM,1,1.12,249,1,8.30

In [16]:
taxi_trips.describe()

,passenger_count,trip_distance,PULocationID,payment_type,total_amount
count,7.664915e+06,7.664915e+06,7.664915e+06,7.664915e+06,7.664915e+06
mean,1.567054e+00,2.800816e+00,1.655033e+02,1.291784e+00,1.568141e+01
std,1.224408e+00,3.737349e+00,6.639292e+01,4.733264e-01,2.623422e+02
min,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-3.628000e+02
25%,1.000000e+00,9.000000e-01,1.300000e+02,1.000000e+00,8.190000e+00
50%,1.000000e+00,1.530000e+00,1.620000e+02,1.000000e+00,1.127000e+01
75%,2.000000e+00,2.800000e+00,2.340000e+02,2.000000e+00,1.656000e+01
max,9.000000e+00,8.318000e+02,2.650000e+02,4.000000e+00,6.232617e+05

In [18]:
taxi_trips.isna().sum()

tpep_pickup_datetime    0
passenger_count         0
trip_distance           0
PULocationID            0
payment_type            0
total_amount            0
dtype: int64

In [19]:
taxi_trips.isnull().sum()

tpep_pickup_datetime    0
passenger_count         0
trip_distance           0
PULocationID            0
payment_type            0
total_amount            0
dtype: int64

In [21]:
taxi_trips['payment_type'].value_counts()

1    5483906
2    2136680
3      33167
4      11162
Name: payment_type, dtype: int64

In [22]:
taxi_trips['passenger_count'].value_counts()

1    5454151
2    1113644
5     323679
3     314619
6     200740
4     140689
0     117336
8         29
7         19
9          9
Name: passenger_count, dtype: int64

In [27]:
taxi_trips.dtypes

tpep_pickup_datetime     object
passenger_count           int64
trip_distance           float64
PULocationID              int64
payment_type              int64
total_amount            float64
dtype: object

In [26]:
#taxi_trips['tpep_pickup_datetime'] = pd.to_datetime(taxi_trips['tpep_pickup_datetime'])

KeyboardInterrupt:

In [ ]:
#taxi_trips['total_amount'] = taxi_trips['total_amount'].astype(float)

In [28]:
taxi_trips[taxi_trips['total_amount']=='T']

Empty DataFrame
Columns: [tpep_pickup_datetime, passenger_count, trip_distance, PULocationID, payment_type, total_amount]
Index: []

In [30]:
taxi_trips['tpep_pickup_datetime'].sort_values()

13433      01/01/2019 01:00:00 AM
13432      01/01/2019 01:00:00 AM
13428      01/01/2019 01:00:00 AM
13429      01/01/2019 01:00:00 AM
13430      01/01/2019 01:00:00 AM
                    ...
7491304    01/31/2019 12:59:58 PM
7491303    01/31/2019 12:59:58 PM
7388676    01/31/2019 12:59:59 AM
7388677    01/31/2019 12:59:59 AM
7491305    01/31/2019 12:59:59 PM
Name: tpep_pickup_datetime, Length: 7664915, dtype: object