In [42]:
import pandas as pd

In [43]:
taxi_trips = pd.read_csv(r'C:\Users\senay\Desktop\Misra Turp\2019_Yellow_Taxi_Trip_Data.csv')

In [44]:
taxi_trips.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,01/01/2019 12:00:00 AM,01/01/2019 01:03:12 AM,2,7.37,1,N,237,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,NaN
1,2,01/01/2019 12:00:01 AM,01/01/2019 12:05:17 AM,6,1.73,1,N,263,74,2,7.0,0.5,0.5,0.00,0.0,0.3,8.30,NaN
2,1,01/01/2019 12:00:03 AM,01/01/2019 12:04:26 AM,1,0.60,1,N,80,112,2,5.0,0.5,0.5,0.00,0.0,0.3,6.30,NaN
3,4,01/01/2019 12:00:05 AM,01/01/2019 12:11:05 AM,1,1.53,1,N,231,148,2,9.0,0.5,0.5,0.00,0.0,0.3,10.30,NaN
4,1,01/01/2019 12:00:06 AM,01/01/2019 12:44:05 AM,1,3.20,1,N,114,79,1,26.0,0.5,0.5,5.45,0.0,0.3,32.75,NaN

In [45]:
taxi_trips.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [46]:
taxi_trips= taxi_trips[['tpep_pickup_datetime',
       'passenger_count', 'trip_distance','PULocationID',  'payment_type',
       'total_amount', ]]

In [47]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7664915 entries, 0 to 7664914
Data columns (total 6 columns):
 #   Column                Dtype
---  ------                -----
 0   tpep_pickup_datetime  object
 1   passenger_count       int64
 2   trip_distance         float64
 3   PULocationID          int64
 4   payment_type          int64
 5   total_amount          float64
dtypes: float64(2), int64(3), object(1)
memory usage: 350.9+ MB

In [48]:
taxi_trips.describe()

,passenger_count,trip_distance,PULocationID,payment_type,total_amount
count,7.664915e+06,7.664915e+06,7.664915e+06,7.664915e+06,7.664915e+06
mean,1.567054e+00,2.800816e+00,1.655033e+02,1.291784e+00,1.568141e+01
std,1.224408e+00,3.737349e+00,6.639292e+01,4.733264e-01,2.623422e+02
min,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-3.628000e+02
25%,1.000000e+00,9.000000e-01,1.300000e+02,1.000000e+00,8.190000e+00
50%,1.000000e+00,1.530000e+00,1.620000e+02,1.000000e+00,1.127000e+01
75%,2.000000e+00,2.800000e+00,2.340000e+02,2.000000e+00,1.656000e+01
max,9.000000e+00,8.318000e+02,2.650000e+02,4.000000e+00,6.232617e+05

In [49]:
taxi_trips.dtypes

tpep_pickup_datetime     object
passenger_count           int64
trip_distance           float64
PULocationID              int64
payment_type              int64
total_amount            float64
dtype: object

# Using built-in checks

In [50]:
taxi_trips.head().isna()

,tpep_pickup_datetime,passenger_count,trip_distance,PULocationID,payment_type,total_amount
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False

In [51]:
taxi_trips.isnull().sum()

tpep_pickup_datetime    0
passenger_count         0
trip_distance           0
PULocationID            0
payment_type            0
total_amount            0
dtype: int64

In [52]:
taxi_trips.isna().sum()

tpep_pickup_datetime    0
passenger_count         0
trip_distance           0
PULocationID            0
payment_type            0
total_amount            0
dtype: int64

# Checking Data Values

In [53]:
taxi_trips['payment_type'].value_counts()

1    5483906
2    2136680
3      33167
4      11162
Name: payment_type, dtype: int64

In [54]:
taxi_trips['total_amount'].value_counts()

7.30      170412
7.80      167863
6.80      167834
8.30      161665
8.80      159011
           ...
225.60         1
70.21          1
106.10         1
97.35          1
128.68         1
Name: total_amount, Length: 12188, dtype: int64

# Checking type of column

In [59]:
taxi_trips.dtypes

tpep_pickup_datetime     object
passenger_count           int64
trip_distance           float64
PULocationID              int64
payment_type              int64
total_amount            float64
dtype: object

In [ ]:
taxi_trips['tpep_pickup_datetime']= pd.to_datetime(taxi_trips['tpep_pickup_datetime'])

In [62]:
taxi_trips['total_amount']= taxi_trips['total_amount'].astype(float)

In [61]:
taxi_trips.dtypes

tpep_pickup_datetime     object
passenger_count           int64
trip_distance           float64
PULocationID              int64
payment_type              int64
total_amount            float64
dtype: object

# Sorting Values

In [63]:
taxi_trips['tpep_pickup_datetime'].sort_values()

13433      01/01/2019 01:00:00 AM
13432      01/01/2019 01:00:00 AM
13428      01/01/2019 01:00:00 AM
13429      01/01/2019 01:00:00 AM
13430      01/01/2019 01:00:00 AM
                    ...
7491304    01/31/2019 12:59:58 PM
7491303    01/31/2019 12:59:58 PM
7388676    01/31/2019 12:59:59 AM
7388677    01/31/2019 12:59:59 AM
7491305    01/31/2019 12:59:59 PM
Name: tpep_pickup_datetime, Length: 7664915, dtype: object