<a href="https://colab.research.google.com/github/senaybalema/PortfolioProjects/blob/main/Optimizing_Marketing_Campaigns_Regression_and_Correlation_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Marketing Strategy Analysis 

#### Programming Script and Technical Report

##### Table of Content 

1. Introduction 
2. Data Loading and Quantity 
3. Feature Additions and Engineering 
4. Exploratory Data Analysis and Statistical Analysis 
5. Final Recommendation

##Introduction

What is the impact of each marketing stratedgy and sales visit on Sales(Amount Collected)?
 
Is the same stratedgy valid for all the different client types?

## Data Loading and Quality Checks

In [3]:
#Import libraries
import pandas as pd
import numpy as np 
import seaborn as sns
import scipy.stats

In [4]:
from google.colab import files 
uploaded = files.upload()

Saving Campaign-Data.csv to Campaign-Data.csv

In [5]:
data = pd.read_csv('Campaign-Data.csv')
data.columns

Index(['Client ID', 'Client Type', 'Number of Customers', 'Montly Target',
       'Zip Code', 'Calendardate', 'Amount Collected', 'Unit Sold',
       'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5', 'Number of Competition'],
      dtype='object')

In [6]:
data.head()

,Client ID,Client Type,Number of Customers,Montly Target,Zip Code,Calendardate,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Number of Competition
0,ID-987275,Medium Facility,2800,125,1003,16-01-2014,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
1,ID-987275,Medium Facility,2800,125,1003,16-02-2014,3409460,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,322500.0,Low
2,ID-987275,Medium Facility,2800,125,1003,18-03-2014,10228384,75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
3,ID-987275,Medium Facility,2800,125,1003,18-04-2014,17047304,123,0.0,0.0,0.0,0.0,3547500.0,1290000.0,0.0,0.0,Low
4,ID-987275,Medium Facility,2800,125,1003,19-05-2014,23866224,171,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low

### Feature Additions and Engineering

In [7]:
#Creation of Additional Features 
#Create month and year columns
data['Calendardate']=pd.to_datetime(data['Calendardate'])
data['Calendar_Month']=data['Calendardate'].dt.month 
data['Calendar_Year']=data['Calendardate'].dt.year

In [8]:
data.columns

Index(['Client ID', 'Client Type', 'Number of Customers', 'Montly Target',
       'Zip Code', 'Calendardate', 'Amount Collected', 'Unit Sold',
       'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5', 'Number of Competition',
       'Calendar_Month', 'Calendar_Year'],
      dtype='object')

###Understanding of Distributions

In [9]:
data['Client Type'].value_counts(normalize=True)
#Percentage of each type of facility

Large Facility      0.459677
Small Facility      0.282258
Medium Facility     0.169355
Private Facility    0.088710
Name: Client Type, dtype: float64

In [10]:
pd.crosstab(data['Number of Competition'], data['Client Type'], margins=True,normalize='columns')

Client Type,Large Facility,Medium Facility,Private Facility,Small Facility,All
Number of Competition,,,,,
High,0.166667,0.166667,0.166667,0.166667,0.166667
Low,0.833333,0.833333,0.833333,0.833333,0.833333

In [11]:
data.groupby('Number of Competition').mean()

,Number of Customers,Montly Target,Zip Code,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Calendar_Month,Calendar_Year
Number of Competition,,,,,,,,,,,,,,,
High,1456.935484,75.080645,1003.0,2.974789e+07,213.127016,105398.938508,994046.717540,45198.036895,146945.564516,2.685333e+06,1.786754e+06,72172.379032,8452.620968,10.5,2015.0
Low,1456.935484,75.080645,1003.0,1.445570e+07,103.132258,150862.165766,623692.979839,26693.304194,128219.758065,1.890916e+06,1.883634e+06,70481.854839,15864.919355,5.7,2014.4

In [12]:
data.groupby('Client Type').mean()

,Number of Customers,Montly Target,Zip Code,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Calendar_Month,Calendar_Year
Client Type,,,,,,,,,,,,,,,
Large Facility,1380.842105,71.578947,1003.0,1.999880e+07,143.098684,142273.609649,8.192056e+05,45595.436623,133667.763158,2.034013e+06,2.017039e+06,119287.280702,16266.447368,6.5,2014.5
Medium Facility,3940.761905,202.857143,1003.0,4.075997e+07,290.583333,437217.097817,1.552603e+06,49176.847619,398645.833333,4.822783e+06,4.698646e+06,85104.166667,33273.809524,6.5,2014.5
Private Facility,400.727273,20.454545,1003.0,5.030246e+06,35.784091,5183.715152,2.272919e+05,5522.470455,1221.590909,6.376705e+05,4.434375e+05,3664.772727,12215.909091,6.5,2014.5
Small Facility,422.514286,21.285714,1003.0,1.637759e+06,11.689286,11975.986310,9.120875e+04,0.000000,8062.500000,7.617143e+05,3.727946e+05,4223.214286,1535.714286,6.5,2014.5

In [13]:
data.corr()[['Amount Collected']]
#Correlation pertaining to Amount collected

                     Amount Collected
Number of Customers          0.607496
Montly Target                0.608204
Zip Code                          NaN
Amount Collected             1.000000
Unit Sold                    0.997515
Campaign (Email)             0.248235
Campaign (Flyer)             0.444337
Campaign (Phone)             0.034858
Sales Contact 1              0.277478
Sales Contact 2              0.552112
Sales Contact 3              0.357887
Sales Contact 4              0.236165
Sales Contact 5              0.095795
Calendar_Month               0.139425
Calendar_Year                0.286194

##Correlation Analysis

In [19]:
## Consolidated Strategy for Targeting 

cm = sns.light_palette("green", as_cmap=True)
## Use a green map
correlation_analysis = pd.DataFrame(data[['Amount Collected','Campaign (Email)','Campaign (Flyer)','Campaign (Phone)','Sales Contact 1',
                                          'Sales Contact 2','Sales Contact 3','Sales Contact 4','Sales Contact 5']].corr()['Amount Collected']).reset_index()
## We use the corrletion function and select important columns for our correlation pertaining to amount collected

correlation_analysis.columns=['Impacting Variable', 'Degree of Linear Impact (Correlation)']
# Change the name of the columns 
correlation_analysis= correlation_analysis[correlation_analysis['Impacting Variable'] != 'Amount Collected']
## WE remove amount collected because it has 100 % correlation
correlation_analysis= correlation_analysis.sort_values('Degree of Linear Impact (Correlation)', ascending=False)
#Sort our correlation values by descending order and set 0ur value to 2 deciamals 
correlation_analysis.style.background_gradient(cmap=cm).set_precision(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  from ipykernel import kernelapp as app

In [21]:
## Consolidated Strategy for Targeting 
import seaborn as sns
cm = sns.light_palette("green", as_cmap=True)
## Use a green map
correlation_analysis = pd.DataFrame(data.groupby('Client Type')[['Amount Collected','Campaign (Email)','Campaign (Flyer)','Campaign (Phone)','Sales Contact 1',
                                          'Sales Contact 2','Sales Contact 3','Sales Contact 4','Sales Contact 5']].corr()['Amount Collected']).reset_index()
## We use the corrletion function and select important columns for our correlation pertaining to amount collected

correlation_analysis = correlation_analysis.sort_values(['Client Type', 'Amount Collected'], ascending=False)
#Sort our correlation values by descending order and set our value to 2 deciamals 
correlation_analysis.columns=['Acc Type', 'Variable Impact on Sales', 'Impact']
# Change the name of the columns 
correlation_analysis= correlation_analysis[correlation_analysis['Variable Impact on Sales'] != 'Amount Collected'].reset_index(drop=True)
## WE remove amount collected because it has 100 % correlation


correlation_analysis.style.background_gradient(cmap=cm).set_precision(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`

## Regression Analysis (Market Sales and Strategies)

In [23]:
import statsmodels.api as sm 
import statsmodels.formula.api as smf

#Replace empty strings in data columns
data.columns=[mystring.replace(" ", "_") for mystring in data.columns]
data.columns=[mystring.replace("(", "") for mystring in data.columns]
data.columns=[mystring.replace(")", "") for mystring in data.columns]
#Linear regression model to preduct amount collected 
results = smf.ols('Amount_Collected ~ Campaign_Email+Campaign_Flyer+Campaign_Phone+\
                    Sales_Contact_1 + Sales_Contact_2 + Sales_Contact_3 + Sales_Contact_4 + Sales_Contact_5', data=data).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.480
Model:                            OLS   Adj. R-squared:                  0.478
Method:                 Least Squares   F-statistic:                     342.1
Date:                Tue, 30 Aug 2022   Prob (F-statistic):               0.00
Time:                        02:54:45   Log-Likelihood:                -54512.
No. Observations:                2976   AIC:                         1.090e+05
Df Residuals:                    2967   BIC:                         1.091e+05
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        1.481e+06   5.12e+05      2.891      0.004    4.77e+05    2.49e+06
Campaign_Email      0.7932      0.597      1.329      0.184      -0.377       1.963
Campaign_Flyer      3.3376      0.260     12.831      0.000       2.828       3.848
Campaign_Phone      0.0734      1.053      0.070      0.944      -1.991       2.137
Sales_Contact_1     4.2368      0.415     10.207      0.000       3.423       5.051
Sales_Contact_2     3.6382      0.129     28.155      0.000       3.385       3.892
Sales_Contact_3     2.3432      0.131     17.925      0.000       2.087       2.600
Sales_Contact_4    10.9478      1.060     10.331      0.000       8.870      13.026
Sales_Contact_5     3.5078      4.549      0.771      0.441      -5.412      12.428
==============================================================================
Omnibus:                     1099.749   Durbin-Watson:                   0.624
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7733.226
Skew:                           1.578   Prob(JB):                         0.00
Kurtosis:                      10.239   Cond. No.                     5.89e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.89e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [24]:
df = pd.read_html(results.summary().tables[1].as_html(),header=0,index_col=0)[0]

In [27]:
df=df.reset_index()
df=df[df['P>|t|']<0.05][['index','coef']]
df

             index          coef
0        Intercept  1.481000e+06
2   Campaign_Flyer  3.337600e+00
4  Sales_Contact_1  4.236800e+00
5  Sales_Contact_2  3.638200e+00
6  Sales_Contact_3  2.343200e+00
7  Sales_Contact_4  1.094780e+01

## Regression Analysis (Market Sales and Strategies) - Broken for different account types

In [31]:
consolidated_summary = pd.DataFrame()
for acctype in list(set(list(data['Client_Type']))):
    temp_data=data[data['Client_Type']==acctype].copy()
    results = results = smf.ols('Amount_Collected ~ Campaign_Email+Campaign_Flyer+Campaign_Phone+\
                    Sales_Contact_1 + Sales_Contact_2 + Sales_Contact_3 + Sales_Contact_4 + Sales_Contact_5', data=data).fit()
    df = pd.read_html(results.summary().tables[1].as_html(),header=0,index_col=0)[0].reset_index()
    df=df[df['P>|t|']<0.05][['index','coef']]
    df.columns=['Variable', 'Coefficent (Inpact)']
    df['Account Type']=acctype 
    df=df.sort_values('Coefficent (Inpact)', ascending = False)
    df=df[df['Variable']!='Intercept']
    print(acctype)
    consolidated_summary = consolidated_summary.append(df)
    print(df)
    #print(results.summary())
    #Break down of each account type and each marketing tactic with the coefficent attached with it

Medium Facility
          Variable  Coefficent (Inpact)     Account Type
7  Sales_Contact_4              10.9478  Medium Facility
4  Sales_Contact_1               4.2368  Medium Facility
5  Sales_Contact_2               3.6382  Medium Facility
2   Campaign_Flyer               3.3376  Medium Facility
6  Sales_Contact_3               2.3432  Medium Facility
Large Facility
          Variable  Coefficent (Inpact)     Account Type
7  Sales_Contact_4              10.9478  Large Facility
4  Sales_Contact_1               4.2368  Large Facility
5  Sales_Contact_2               3.6382  Large Facility
2   Campaign_Flyer               3.3376  Large Facility
6  Sales_Contact_3               2.3432  Large Facility
Private Facility
          Variable  Coefficent (Inpact)      Account Type
7  Sales_Contact_4              10.9478  Private Facility
4  Sales_Contact_1               4.2368  Private Facility
5  Sales_Contact_2               3.6382  Private Facility
2   Campaign_Flyer               3.3376  Private Facility
6  Sales_Contact_3               2.3432  Private Facility
Small Facility
          Variable  Coefficent (Inpact)     Account Type
7  Sales_Contact_4              10.9478  Small Facility
4  Sales_Contact_1               4.2368  Small Facility
5  Sales_Contact_2               3.6382  Small Facility
2   Campaign_Flyer               3.3376  Small Facility
6  Sales_Contact_3               2.3432  Small Facility

In [36]:
import statsmodels.api as sm 
import statsmodels.formula.api as smf

consolidated_summary = pd.DataFrame()
for acctype in list(set(list(data['Client_Type']))):
    temp_data=data[data['Client_Type']==acctype].copy()
    results = smf.ols('Amount_Collected ~ Campaign_Email+Campaign_Flyer+Campaign_Phone+\
                    Sales_Contact_1 + Sales_Contact_2 + Sales_Contact_3 + Sales_Contact_4 + Sales_Contact_5', data=temp_data).fit()
    df = pd.read_html(results.summary().tables[1].as_html(),header=0,index_col=0)[0].reset_index()
    df=df[df['P>|t|']<0.05][['index','coef']]
    df.columns=['Variable', 'Coefficent (Inpact)']
    df['Account Type']=acctype 
    df=df.sort_values('Coefficent (Inpact)', ascending = False)
    df=df[df['Variable']!='Intercept']
    consolidated_summary = consolidated_summary.append(df)
    print(results.summary())

    #We create a for loop 
    #Append our results into a dataframe

                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.437
Model:                            OLS   Adj. R-squared:                  0.428
Method:                 Least Squares   F-statistic:                     48.00
Date:                Tue, 30 Aug 2022   Prob (F-statistic):           4.13e-57
Time:                        03:30:52   Log-Likelihood:                -9461.9
No. Observations:                 504   AIC:                         1.894e+04
Df Residuals:                     495   BIC:                         1.898e+04
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        5.682e+06   2.53e+06      2.241      0.025    7.01e+05    1.07e+07
Campaign_Email      1.1260      1.287      0.875      0.382      -1.403       3.655
Campaign_Flyer      4.1059      0.702      5.851      0.000       2.727       5.485
Campaign_Phone      2.3077      3.014      0.766      0.444      -3.615       8.230
Sales_Contact_1     3.1365      0.732      4.284      0.000       1.698       4.575
Sales_Contact_2     3.5778      0.305     11.717      0.000       2.978       4.178
Sales_Contact_3     2.1174      0.295      7.168      0.000       1.537       2.698
Sales_Contact_4    -7.4136      4.497     -1.649      0.100     -16.250       1.422
Sales_Contact_5     8.2368     10.845      0.760      0.448     -13.071      29.544
==============================================================================
Omnibus:                      103.101   Durbin-Watson:                   0.592
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              197.732
Skew:                           1.144   Prob(JB):                     1.16e-43
Kurtosis:                       5.045   Cond. No.                     1.44e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.44e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.371
Model:                            OLS   Adj. R-squared:                  0.367
Method:                 Least Squares   F-statistic:                     100.2
Date:                Tue, 30 Aug 2022   Prob (F-statistic):          4.64e-131
Time:                        03:30:52   Log-Likelihood:                -25075.
No. Observations:                1368   AIC:                         5.017e+04
Df Residuals:                    1359   BIC:                         5.021e+04
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        2.812e+06   9.29e+05      3.026      0.003    9.89e+05    4.63e+06
Campaign_Email      0.7886      0.936      0.842      0.400      -1.048       2.625
Campaign_Flyer      2.7204      0.352      7.739      0.000       2.031       3.410
Campaign_Phone     -3.5361      1.333     -2.653      0.008      -6.151      -0.921
Sales_Contact_1    11.6731      1.246      9.368      0.000       9.229      14.117
Sales_Contact_2     4.0031      0.239     16.718      0.000       3.533       4.473
Sales_Contact_3     2.0316      0.246      8.266      0.000       1.549       2.514
Sales_Contact_4    10.6145      1.260      8.423      0.000       8.143      13.086
Sales_Contact_5    -3.6385      6.703     -0.543      0.587     -16.789       9.512
==============================================================================
Omnibus:                      334.998   Durbin-Watson:                   0.655
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1353.896
Skew:                           1.121   Prob(JB):                    1.01e-294
Kurtosis:                       7.327   Cond. No.                     6.22e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.22e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.346
Model:                            OLS   Adj. R-squared:                  0.326
Method:                 Least Squares   F-statistic:                     16.88
Date:                Tue, 30 Aug 2022   Prob (F-statistic):           4.63e-20
Time:                        03:30:52   Log-Likelihood:                -4650.8
No. Observations:                 264   AIC:                             9320.
Df Residuals:                     255   BIC:                             9352.
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        4.439e+05    8.3e+05      0.535      0.593   -1.19e+06    2.08e+06
Campaign_Email      6.6806     17.292      0.386      0.700     -27.374      40.735
Campaign_Flyer      1.6661      1.125      1.482      0.140      -0.548       3.881
Campaign_Phone      7.8827     10.196      0.773      0.440     -12.197      27.962
Sales_Contact_1   -88.9282     47.497     -1.872      0.062    -182.465       4.608
Sales_Contact_2     6.6223      0.718      9.220      0.000       5.208       8.037
Sales_Contact_3    -0.7264      0.893     -0.814      0.417      -2.485       1.032
Sales_Contact_4    19.4954     19.966      0.976      0.330     -19.824      58.815
Sales_Contact_5    21.7693     13.600      1.601      0.111      -5.013      48.552
==============================================================================
Omnibus:                      274.961   Durbin-Watson:                   1.110
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9920.407
Skew:                           4.276   Prob(JB):                         0.00
Kurtosis:                      31.788   Cond. No.                     1.79e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.79e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.054
Model:                            OLS   Adj. R-squared:                  0.046
Method:                 Least Squares   F-statistic:                     6.829
Date:                Tue, 30 Aug 2022   Prob (F-statistic):           6.63e-08
Time:                        03:30:52   Log-Likelihood:                -14125.
No. Observations:                 840   AIC:                         2.827e+04
Df Residuals:                     832   BIC:                         2.830e+04
Df Model:                           7
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        8.789e+05   2.07e+05      4.252      0.000    4.73e+05    1.28e+06
Campaign_Email      1.8882      1.344      1.405      0.160      -0.750       4.526
Campaign_Flyer      0.0753      0.268      0.281      0.778      -0.450       0.600
Campaign_Phone  -3.468e-06   8.16e-07     -4.252      0.000   -5.07e-06   -1.87e-06
Sales_Contact_1    -0.9764      1.655     -0.590      0.555      -4.224       2.271
Sales_Contact_2     0.8101      0.130      6.218      0.000       0.554       1.066
Sales_Contact_3     0.3277      0.198      1.656      0.098      -0.061       0.716
Sales_Contact_4     0.4837      4.427      0.109      0.913      -8.206       9.173
Sales_Contact_5    -2.6243      7.996     -0.328      0.743     -18.319      13.070
==============================================================================
Omnibus:                      985.034   Durbin-Watson:                   1.006
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            97146.151
Skew:                           5.770   Prob(JB):                         0.00
Kurtosis:                      54.405   Cond. No.                     7.82e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.3e-19. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

#Final Recomendations 

#### Using the below table, we can use coefficent to see how much we can derive from each dollar we spend and see how different accounts are impacted by different campaigns. 

## Case Explantation - Medium Facility 

#### Medium Facility show decent results from Flyer Campaigns and each dollar spend return 4 dollars on average. Sales Contact 2 is highly effective followed by Sales Contact 1 and Sales Contact 3. Else all the other strategy shows no impact can be dropped to save cost

In [37]:
consolidated_summary

          Variable  Coefficent (Inpact)      Account Type
2   Campaign_Flyer             4.105900   Medium Facility
5  Sales_Contact_2             3.577800   Medium Facility
4  Sales_Contact_1             3.136500   Medium Facility
6  Sales_Contact_3             2.117400   Medium Facility
4  Sales_Contact_1            11.673100   Large Facility
7  Sales_Contact_4            10.614500   Large Facility
5  Sales_Contact_2             4.003100   Large Facility
2   Campaign_Flyer             2.720400   Large Facility
6  Sales_Contact_3             2.031600   Large Facility
3   Campaign_Phone            -3.536100   Large Facility
5  Sales_Contact_2             6.622300  Private Facility
5  Sales_Contact_2             0.810100   Small Facility
3   Campaign_Phone            -0.000003   Small Facility

In [38]:
consolidated_summary.reset_index(inplace=True)
consolidated_summary.drop('index', inplace=True,axis=1)

In [39]:
consolidated_summary.columns = ['Variable', 'Return on Investment', 'Account Type']
consolidated_summary['Return on Investment'] = consolidated_summary['Return on Investment'].apply(lambda x: round(x,1))
consolidated_summary.style.background_gradient(cmap='RdYlGn')

In [40]:
import seaborn as sns
import matplotlib.pyplot as plt

In [41]:
def format(x):
          return "${:.1f}".format(x)
consolidated_summary['Return on Investment']= consolidated_summary['Return on Investment'].apply(format)

In [42]:
consolidated_summary.columns = ['Variable', 'Return on Investment', 'Account Type']
consolidated_summary.style.background_gradient(cmap='RdYlGn')
#Table for marketing tactics

#Analysis 

#### From the tactics, sales contacts were the biggest drivers on return on investment. More invesment in sales contact would be most beneficial to an overall campaign. Flyers were also significant in accounts collected.