In [1]:
#import libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df= df = pd.DataFrame({  'card': ['1971 Nolan Ryan', '1928 Ogden Don Bradman', '1909 T206 Ty Cobb', '1887 Lone Jack Ben Franklin', '2005 Topps Justin Verlander'], 
    'properties': [['Baseball', 'Vintage', 'Pitcher'], ['Cricket', 'Pre War'], ['Baseball', 'Pre War', 'Batter'], ['Non Sports', 'Pre War'], ['Baseball', 'Modern', 'Pitcher']]            
                  })
df

                          card                    properties
0              1971 Nolan Ryan  [Baseball, Vintage, Pitcher]
1       1928 Ogden Don Bradman            [Cricket, Pre War]
2            1909 T206 Ty Cobb   [Baseball, Pre War, Batter]
3  1887 Lone Jack Ben Franklin         [Non Sports, Pre War]
4  2005 Topps Justin Verlander   [Baseball, Modern, Pitcher]

In [4]:
#count type of pre war cards

In [5]:
df.explode('properties')

                          card  properties
0              1971 Nolan Ryan    Baseball
0              1971 Nolan Ryan     Vintage
0              1971 Nolan Ryan     Pitcher
1       1928 Ogden Don Bradman     Cricket
1       1928 Ogden Don Bradman     Pre War
2            1909 T206 Ty Cobb    Baseball
2            1909 T206 Ty Cobb     Pre War
2            1909 T206 Ty Cobb      Batter
3  1887 Lone Jack Ben Franklin  Non Sports
3  1887 Lone Jack Ben Franklin     Pre War
4  2005 Topps Justin Verlander    Baseball
4  2005 Topps Justin Verlander      Modern
4  2005 Topps Justin Verlander     Pitcher

In [6]:
df = df.explode('properties')

In [7]:
df

                          card  properties
0              1971 Nolan Ryan    Baseball
0              1971 Nolan Ryan     Vintage
0              1971 Nolan Ryan     Pitcher
1       1928 Ogden Don Bradman     Cricket
1       1928 Ogden Don Bradman     Pre War
2            1909 T206 Ty Cobb    Baseball
2            1909 T206 Ty Cobb     Pre War
2            1909 T206 Ty Cobb      Batter
3  1887 Lone Jack Ben Franklin  Non Sports
3  1887 Lone Jack Ben Franklin     Pre War
4  2005 Topps Justin Verlander    Baseball
4  2005 Topps Justin Verlander      Modern
4  2005 Topps Justin Verlander     Pitcher

In [8]:
# count type of pre war counts

In [9]:
df['properties'].value_counts()

Baseball      3
Pre War       3
Pitcher       2
Vintage       1
Cricket       1
Batter        1
Non Sports    1
Modern        1
Name: properties, dtype: int64

In [10]:
df['properties'].value_counts()['Pre War']

3

In [11]:
df.query('properties == "Baseball"')

                          card properties
0              1971 Nolan Ryan   Baseball
2            1909 T206 Ty Cobb   Baseball
4  2005 Topps Justin Verlander   Baseball

In [ ]:
df2.pivot_table(index='properties', values='card', aggfunc='size').reset_index().rename(columns={'card': 'card_count'}).sort_values('card_count', ascending=False)

In [17]:
pivot_df = df.pivot_table(index='properties', values='card', aggfunc='count').reset_index().rename(columns={'card': 'card_count'}).sort_values('card_count', ascending=False)
pivot_df

   properties  card_count
0    Baseball           3
6     Pre War           3
5     Pitcher           2
1      Batter           1
2     Cricket           1
3      Modern           1
4  Non Sports           1
7     Vintage           1

import pandas as pd

# Given DataFrame
df = pd.DataFrame({  
    'card': ['1971 Nolan Ryan', '1928 Ogden Don Bradman', '1909 T206 Ty Cobb', '1887 Lone Jack Ben Franklin', '2005 Topps Justin Verlander'], 
    'properties': [['Baseball', 'Vintage', 'Pitcher'], ['Cricket', 'Pre War'], ['Baseball', 'Pre War', 'Batter'], ['Non Sports', 'Pre War'], ['Baseball', 'Modern', 'Pitcher']]            
})

# Explode the 'properties' column
df_exploded = df.explode('properties')

# Perform pivot_table to count occurrences of 'card' for each 'properties'
pivot_df = df_exploded.pivot_table(index='properties', values='card', aggfunc='size').reset_index()

# Rename the columns
pivot_df = pivot_df.rename(columns={'card': 'card_count'})

# Sort the DataFrame by 'card_count' in descending order
pivot_df_sorted = pivot_df.sort_values('card_count', ascending=False)

print(pivot_df_sorted)


   properties  card_count
0    Baseball           3
2    Pre War            3
1  Pitcher            2
3  Vintage            1
4  Batter             1
5  Cricket            1
6  Modern             1
7  Non Sports         1