In [8]:
#import packages 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
from sklearn.cluster import KMeans 
from sklearn.preprocessing import StandardScaler

In [4]:
#read the data
df=pd.read_csv(r"C:\Users\senay\Desktop\AbsentData\Mall_Customers.csv")

In [5]:
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [6]:
#prepare dataset
df2 = df.drop(['CustomerID'], axis=1)
df2.head()

   Gender  Age  Annual Income (k$)  Spending Score (1-100)
0    Male   19                  15                      39
1    Male   21                  15                      81
2  Female   20                  16                       6
3  Female   23                  16                      77
4  Female   31                  17                      40

In [7]:
#categorial dummies

#Many machine learning algorithms (like regression, SVM, neural networks) 
#require numerical input. By converting categorical variables into dummy variables,
#which are binary (0 or 1), you transform them into a format that can be used by these algorithms


#Dummy encoding makes the model's behavior more interpretable.


df3 = pd.get_dummies(df2, drop_first=True)

In [11]:
#scaling the data
scale = StandardScaler()
df4 = scale.fit_transform(df3)

In [12]:
#instatiate the model
model = KMeans(n_clusters=4, random_state=123)

In [13]:
#fit the model
model.fit(df4)

C:\Users\senay\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\senay\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

KMeans(n_clusters=4, random_state=123)

In [14]:
#get the clusters 
model.predict(df4)

array([1, 1, 0, 3, 3, 3, 0, 3, 2, 3, 2, 3, 0, 3, 2, 1, 0, 1, 2, 3, 2, 1,
       0, 1, 0, 1, 0, 1, 0, 3, 2, 3, 2, 1, 0, 3, 0, 3, 0, 3, 0, 1, 2, 3,
       0, 3, 0, 3, 3, 3, 0, 1, 3, 2, 0, 2, 0, 2, 3, 2, 2, 1, 0, 0, 2, 1,
       0, 0, 1, 3, 2, 0, 0, 0, 2, 1, 0, 2, 3, 0, 2, 1, 2, 0, 3, 2, 0, 3,
       3, 0, 0, 1, 2, 0, 3, 1, 0, 3, 2, 1, 3, 0, 2, 1, 2, 3, 0, 2, 2, 2,
       2, 3, 0, 1, 3, 3, 0, 0, 0, 0, 1, 0, 3, 1, 3, 3, 2, 1, 2, 1, 2, 1,
       3, 3, 2, 3, 0, 1, 2, 3, 0, 1, 3, 3, 2, 1, 2, 3, 0, 1, 2, 1, 0, 3,
       0, 3, 2, 3, 2, 3, 0, 3, 2, 3, 2, 3, 2, 3, 0, 1, 2, 1, 2, 1, 0, 3,
       2, 1, 2, 1, 0, 3, 2, 3, 0, 1, 0, 1, 0, 3, 0, 3, 2, 3, 0, 3, 0, 1,
       2, 1])

In [15]:
df['Cluster'] = model.predict(df4)
df.head()

,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100),Cluster
0,1,Male,19,15,39,1
1,2,Male,21,15,81,1
2,3,Female,20,16,6,0
3,4,Female,23,16,77,3
4,5,Female,31,17,40,3